//start of mixins definitions
@mixin center($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

@mixin circular-w-h($amount){
    border-radius: 100%;
    width: $amount;
    height: $amount;
}