//variables for colors:
$light-shade: #E8ECEC;
$light-accent: #8B95A5;
$brand-color: #547D87;
$dark-accent: #708396;
$dark-shade: #263242;

$star-colour: $dark-shade;
$star-hover: $dark-shade;


//variable for the zindex so i can keep track of everything using zindex
$active-z_index: 100;