@import 'variables';
@import 'mixins';
@import 'review.scss';


//default selector for all styles:
*{
    color: $light-shade;
}
//header selector for the top bar
header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: $active-z_index + 100;
    @include center(row);

    color: $light-shade;
    background-color: $dark-shade;
}

//starting of steve simple spa demo stylings

body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    font-family: sans-serif;
}
main {
    width: 100vw;
    min-height: 100vh;

    margin: 0;
    padding: 0;
}
.page {
    box-sizing: border-box;
    min-height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    @include center(column);
    font-size: 2rem;
    opacity: 0;
    z-index: 1;
    transition: opacity 0.4s linear;
    padding-top: 10vh;
    overflow-y: hidden;

    //default background color for all pages:
    background-color: $dark-accent;

}
.page:last-child {
    border: none;
}
.page.active {
    opacity: 1;
    z-index: $active-z_index;
}

//selectors for my pages home add-review and details

#home{
    figure{
        border: 2px solid $dark-accent;
        img{
            width: 200px;
            height: auto;
        }
    }
    .empty-reviews{
        text-align: center;
    }
}
#add-review{
    form{
        @include center(column);
        img{
            @include circular-w-h(200px);
        }
        button{
            @include circular-w-h(60px);
        }
        input{
            background-color: transparent;
            border: none;
            border-radius: 0;
            color: $dark-shade;
            border-bottom: 2px solid $dark-shade;
        }
    }
}
#details{
    figure{
        width: 100%;
        border: 2px solid $dark-accent;
        img{
            width: 100%;
            height: auto;
        }
    }
}

//selector for fab button at the bottom of the screen
#fab{
    font-size: 1.8em;
    position: fixed;
    top: 80vh;
    left: 70vw;
    z-index: $active-z_index + 15;
    @include circular-w-h(100px);
    background-color: $brand-color;
}